@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mentor Programme</h1>
    <p class="lead">Mentor programme aim is to help incoming Erasmus students.</p>
    <input type="button" value="Learn more" onclick="@("window.location.href='" + @Url.Action("About", "Home") + "'");" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Read more about ESN, who brings this programme to you</h2>
        <p>
            Erasmus Student Network (ESN) is a non-profit international student organisation. Our mission is to represent international students,
            thus provide opportunities for cultural understanding and self-development under the principle of Students Helping Students.
        </p>
        <p><a class="btn btn-default" href="https://www.esn.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Become a mentor</h2>
        <p>Are you a student who would like to help incoming erasmus students? Fill this short form and become a Mentor!</p>
        <input type="button" value="Become a mentor" onclick="@("window.location.href='" + @Url.Action("Mentor", "Mentor") + "'");" />
    </div>
    <div class="col-md-4">
        <h2>Get a mentor</h2>
        <p>Are you and Erasmus student starting your erasmus next semester? Fill this short form and get a mentor who will help you enjoy your Erasmus!</p>
        <input type="button" value="Find a mentor" onclick="@("window.location.href='" + @Url.Action("Mentee", "Mentee") + "'");" />
    </div>
</div>